# Ignore build, install, and log directories
build/
install/
log/

# Ignore vscode settings
.vscode/

#macOS specific files
.DS_Store

#pycharm specific files
.idea/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directories
venv/
env/
.venv/
.env/
